<!doctype html>
<html lang="en">

  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<script>
(function() {
    'use strict';

    angular.module('LunchCheck', [])
           .controller('LunchCheckController', LunchCheckController);

    LunchCheckController.$inject = ['$scope'];

    function LunchCheckController ($scope) {
        $scope.input = "";
        $scope.message = "";
        $scope.stack = function() {
            // already can access $scope.input
            // dont need to pass to stack()
            var array = $scope.input.split(',');
          //  alert($scope.input.length);
          //  alert(array.length);
            // set $scope.message
            // instead of returning String
            if(array.length==1 && $scope.input.length == 0){
                $scope.message = "Please enter data first";
            }else if (array.length <=3) {
                $scope.message = "Enjoy";
            } else {
                $scope.message = "Too much!";
            }
        };
    }
})();
</script>

<body ng-app="LunchCheck">
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>
         <div class="form-group" >
             <input id="lunch-menu" type="text"
                 placeholder="list comma separated dishes you usually have for lunch"
                 class="form-control" ng-model="input">
         </div>
         <div class="form-group">

         <button class="btn btn-default" ng-click="stack()">
           Check If Too Much
         </button>
       </div>
       <div class="form-group message" id="result">
           <!-- Your message can go here. -->
           {{message}}
       </div>
   </div>
</body>
</html>
